/*------------------------------------*\
  #Login
\*------------------------------------*/
.login-Nav {
  font-size: 30px;
  color: black;
  letter-spacing: 0.1rem;
  font-family: 'Montserrat';
  text-align: center;
  margin-bottom: 20px;
}

.loginWrap {
  padding: 0 5%;
  color: black;
  min-height: 300px;
  letter-spacing: 0.06rem;
  max-width: 970px;
  width: 100%;
  margin: 30px auto;
  letter-spacing: 0.08rem;
  .btn-black {
    width: 100%;
    margin: 25px 0 15px;
    letter-spacing: 0.2rem;
  }
  > div {
    width: 50%;
    margin: 0 auto;
  }
  label {
    cursor: pointer;
    font-family: 'NotoSans-Light';
  }
  p,
  input {
    height: 32px;
  }
  input {
    margin-top: 15px;
    padding: 3px 10px;
    font-size: 14px;
  }
  p {
    line-height: 32px;
  }
}
.pw-switch {
  position: relative;
  label .pw-see {
    top: 0;
    right: 0;
  }
  .pw-see {
    position: absolute;
    width: 20px;
    height: 32px;
    background: url(./assets/img/closeEye.svg) no-repeat center center/100% auto;
    top: 15px;
    right: 10px;
    cursor: pointer;
    &.show {
      background: url(./assets/img/see.svg) no-repeat center center/100% auto;
    }
  }
  input {
    padding-right: 35px;
  }
}

@include phones-width() {
  .loginWrap {
    > div {
      width: 100%;
      padding: 0 10px;
      &:first-of-type {
        margin-bottom: 50px;
      }
    }
  }
}
