@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin tablet-width() {
  @media (max-width: $tablets-media) {
    @content;
  }
}

@mixin phones-width() {
  @media (max-width: $phones-media) {
    @content;
  }
}
