/*------------------------------------*\
  #ShoppingCheckOut
\*------------------------------------*/
.checkoutWrap {
  padding: 0 10%;
  margin-bottom: 55px;
  width: calc(100% - 200px);
  color: #333;
  h2 {
    font-size: 45px;
    text-align: center;
  }
  h3 {
    text-align: center;
    font-size: 18px;
    padding: 55px 0;
  }
  h4 {
    font-size: 16px;
    margin-bottom: 25px;
    letter-spacing: 0.06rem;
  }
  .btn_more {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 2px;
    width: 20px;
    height: 20px;
    &::after {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      background: url(assets/img/arrow_down.svg) no-repeat center center/60%;
    }
    &.active {
      &::after {
        background: url(assets/img/arrow_up.svg) no-repeat center center/60%;
      }
    }
  }
}

.orderfinishWrap {
  padding: 5%;
  margin: 0 10% 55px;
  width: calc(80% - 200px);
  color: #333;
  border: 1px dashed rgb(212, 114, 58);
  h2 {
    font-size: 45px;
    text-align: center;
  }
  h3 {
    text-align: center;
    font-size: 18px;
    padding: 55px 0;
  }
  .orderList {
    display: none;
    &.active {
      display: block;
      .orderlist-box {
        display: block;
      }
    }
  }
}

.orderdetail-box {
  width: 66.66%;
  margin: 0 16.66%;
  padding: 55px 0 0;
  > div {
    padding: 0 16px 12px;
    margin-bottom: 15px;
    letter-spacing: 0.04rem;
    font-size: 14px;
    border-bottom: 1px dashed gray;
    display: flex;
    align-items: center;
    p {
      width: calc(100% - 155px);
      line-height: 16px;
    }
    span {
      display: inline-block;
      flex-shrink: 0;
      width: 150px;
    }
  }
}

.orderlist-box {
  display: none;
  width: 66.66%;
  margin: 0 16.66%;
  padding-bottom: 55px;
  &.active {
    display: block;
  }
  > span {
    display: block;
    padding: 0 16px 12px;
    font-size: 14px;
  }
  .shopItem {
    padding: 10px;
  }
  .shopItem > div {
    width: calc(100% / 5);
    p {
      width: 100%;
    }
  }
  .shopItem > div.shopItem-name {
    width: calc(100% * 2 / 5);
  }
}

@include tablet-width() {
  .checkoutWrap {
    padding: 40px 0;
    width: 100%;
    h2 {
      margin-top: 0;
      font-size: 30px;
    }
    h3 {
      font-size: 13px;
      padding: 30px 0 50px;
    }
    .orderlist-box {
      width: 100%;
      padding: 0 10px;
      p {
        text-align: center;
      }
      .shopItem > div.shopItem-img {
        position: relative;
        top: initial;
        left: initial;
      }
      .shopItem > div {
        padding: 0 2px;
      }
    }
  }

  .orderfinishWrap {
    width: 100%;
    .pddcnt-btn-buypay {
      width: 100%;
      justify-content: center;
      margin-bottom: 20px;
    }
    h2 {
      display: block;
    }
    h3 {
      padding: 35px 0;
    }
    .orderList {
      .orderdetail-box,
      .orderlist-box {
        width: 100%;
        margin: 0 auto;
      }
    }
    .shopItem > div p {
      text-align: center;
    }
    .shopItem > div.shopItem-img {
      position: initial;
    }
  }
}

@include phones-width() {
  .checkoutWrap {
    h4 {
      margin: 10px 0 25px;
    }
  }

  .orderfinishWrap {
    margin: 30px 10%;
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 14px;
      padding: 20px 0;
    }
    .orderList {
      .orderdetail-box,
      .orderlist-box {
        padding: 0;
      }
      .orderdetail-box > div {
        padding: 0 5px 10px;
        span {
          width: 80px;
        }
      }
      .orderlist-box > span {
        padding: 0 5px 10px;
      }
    }
    .pddcnt-btn-buypay {
      margin: 20px 0;
    }
  }
  .ordertotal_box {
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 25px 10px;
    > div {
      width: 100%;
    }
  }

  .orderdetail-box {
    width: 100%;
    margin: initial;
    padding: 20px 10px 10px;
    > div {
      p {
        width: calc(100% - 100px);
      }
      span {
        display: inline-block;
        width: 96px;
      }
    }
  }

  .orderlist-box {
    margin: 0;
    padding: 20px 10px 0;
  }
}
