/*------------------------------------*\
  #Generic
\*------------------------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: $normal_font;
  color: $main_color;
  position: relative;
  height: 100%;
  font-size: $normal_font_size_pc;
  &.hasBannerBar {
    header {
      height: calc(#{$desktop_header_height} + #{$banner_height});
      .header-bannerBar {
        display: block;
      }
    }
    .pdlistAside  {
      top: calc(#{$desktop_header_height} + #{$banner_height} + 30px);
    }
    .contentWrap {
      padding-top: calc(#{$desktop_header_height} + #{$banner_height} + 70px);
      min-height: calc(100vh - #{$desktop_footer_height} - #{$banner_height});
    }
    .defaultWrap {
      margin-top: calc(
        0px - #{$desktop_header_height} - #{$banner_height} - 50px
      );
    }
  }
}

form {
  height: 100%;
}

table {
  font-family: 'Noto Sans TC', sans-serif;
}

td,
th {
  vertical-align: middle;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password'],
input[type='submit'],
textarea {
  width: 100%;
  &::placeholder {
    color: #9c9d9d;
  }
  &::-ms-input-placeholder {
    color: #9c9d9d;
  }
  &:-ms-input-placeholder {
    color: #9c9d9d;
  }
  font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type='checkbox'] {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

input:focus {
  outline: none;
}

button {
  border: 0;
  outline: none;
}

select {
  border: 1px solid #ababab;
  border-radius: 0;
  width: 100%;
  padding: 3px 15px 3px 10px;
  background-color: transparent;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $main_color;
  img {
    max-width: 100%;
  }
  &:hover {
    color: initial;
  }
}

p,
table,
tbody,
thead,
tr,
th,
td{  
  margin: 0;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.wrap {
  position: relative;
  max-width: 1440px;
  padding: 0 70px;
  margin: 0 auto;
}

.contentWrap {
  min-height: calc(100vh - #{$desktop_footer_height});
  background-color: white;
  padding-top: calc(#{$desktop_header_height} + 50px);
}

.pageCover {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 11;
  position: fixed;
  top: 0;
  opacity: 0.5;
  &.active {
    display: block;
    background-color: #5e5e5e;
  }
}

.error {
  color: red;
  display: block;
  margin-top: 5px;
  line-height: 14px;
}

.pagination-box {
  text-align: center;
  display: block;
  padding-top: 30px;
  font-family: 'Noto Sans TC', sans-serif;
}

.pagination-page {
  display: inline-block;
  position: relative;
  width: 30px;
  padding: 10px;
  margin: 0 3px;
  font-size: 15px;
  text-align: center;
  background-color: #fff;
  &.active,
  &:hover {
    &:after {
      content: '';
      position: absolute;
      width: 0.5rem;
      height: 1px;
      right: 11px;
      bottom: 5px;
      background-color: $main_color;
    }
  }
}

.pagination-prev,
.pagination-next {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
  line-height: 20px;
  border-radius: 4px;
  vertical-align: middle;
  font-size: 20px;
  &.disabled {
    opacity: 0;
  }
  &:hover {
    text-decoration: underline;
  }
}
.pagination-prev {
  background: url(./assets/img/arrow_pre.svg) no-repeat center center/30% 75%;
}

.pagination-next {
  background: url(./assets/img/arrow_next.svg) no-repeat center center/30% 75%;
}

.selectwrap {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 15px;
    background: url(./assets/img/arrow_select.svg) no-repeat center center/100%
      auto;
    right: 10px;
    top: 9px;
    pointer-events: none;
  }
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 32px;
    font-family: 'Noto Sans TC', sans-serif;
  }
  option {
    background-color: white;
    color: black;
    font-family: 'Noto Sans TC', sans-serif;
    &:hover {
      background-color: #c8c8c8;
    }
  }
}
.pdbox {
  img {
    width: 100%;
  }
  .pdbox_soldout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.7);
    @include flex;
    color: $white;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .pdbox-name {
    font-family: 'Noto Sans TC', sans-serif;
    padding-top: 10px;
    letter-spacing: 0.06rem;
  }
  .pdbox-price-origin,
  .pdbox-price-sale,
  .pdbox-price {
    font-family: 'Montserrat';
    padding-top: 5px;

    letter-spacing: 0.06rem;
  }
  .pdbox-price-origin {
    text-decoration: line-through;
    color: #a2a2a2;
  }
  .pdbox-price-sale {
    color: $price-sale;
    font-weight: bold;
    span {
      margin-left: 10px;
      line-height: 16px;
      padding: 0 3px;
      letter-spacing: 0.5px;
      font-weight: normal;
      border: 1px solid $price-sale;
    }
  }
}

.d-flex {
  display: flex;
  align-items: center;
}

.d-center {
  display: flex;
  justify-content: center;
}

.d-sp {
  display: flex;
  justify-content: space-between;
}

.d-none {
  display: none;
}

.d-col {
  display: flex;
  flex-direction: column;
}

.btn-black {
  display: inline-block;
  background-color: #333;
  border: 1px solid #333;
  color: white;
  line-height: 38px;
  text-align: center;
  padding: 0 14px;
  &:hover {
    background-color: rgba(51, 51, 51, 0.7);
    border: 1px solid rgba(51, 51, 51, 0.7);
    color: white;
  }
}

.btn-second {
  display: inline-block;
  border: 1px solid black;
  background-color: white;
  line-height: 38px;
  text-align: center;
  border-radius: initial;
  padding: 0 14px;
  &:hover {
    background-color: rgba(197, 197, 197, 0.7);
  }
}

.btn-close {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(./assets/img/close.svg) no-repeat center center/100% auto;
}

.EN-title {
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 0.08rem;
}

.font-N {
  font-family: 'Noto Sans TC', sans-serif;
}
.font-M {
  font-family: 'Montserrat', sans-serif;
}
.breadcrumb {
  font-family: 'Montserrat';
  > li {
    position: relative;
    display: inline-block;
    padding-right: 5px;
    &:after {
      display: inline-block;
      content: '|';
      margin-left: 5px;
    }
    &:last-child {
      &:after {
        display: none;
        content: '';
      }
    }
    h1,
    h2 {
      font-size: 12px;
      font-weight: normal;
      line-height: 19px;
    }
  }
}
.is-hidden-desk {
  display: none;
}

@mixin phone-width() {
  font-size: $normal_font_size_phone;
}

@include tablet-width() {
  body {
    &.hasBannerBar {
      header {
        height: calc(#{$phone_header_height} + #{$banner_height_phone});
        .header-bannerBar {
          display: block;
        }
      }
      .defaultWrap {
        margin-top: calc(0px - #{$phone_header_height} - #{$banner_height});
      }
      .contentWrap {
        min-height: calc(100vh - #{$phone_header_height});
        background-color: white;
        padding-top: calc(#{$phone_header_height} + #{$banner_height_phone});
      }
    }
  }
  .contentWrap {
    min-height: calc(100vh - #{$phone_footer_height});
    padding-top: $phone_header_height;
  }
  .wrap {
    padding: 0 12px;
  }
  .is-hidden-touch {
    display: none;
  }
  .is-hidden-desk {
    display: block;
  }
}

@include phones-width() {
  .pagination-box {
    padding-top: 10px;
  }
  .pageCover {
    &.active {
      display: none;
    }
  }
  .btn-black,
  .btn-second {
    padding: 0 10px;
  }
}
