/*------------------------------------*\
#header
\*------------------------------------*/
header {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  &.header_white {
    background-color: white;
    box-shadow: 5px 0px 10px rgba(71, 71, 71, 0.2);
    .header-inner {
      padding-top: 0;
    }
  }
}

.header-inner {
  height: $desktop_header_height;
  padding-top: 50px;
  transition: all 0.2s ease-in-out;
  @include flex;
  > div {
    width: 33.33%;
  }
}

.header-bannerBar {
  display: none;
  height: $banner_height;
  line-height: $banner_height;
  background-color: #c99b6f;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0.1rem;
  text-align: center;
  color: white;
  position: relative;
  width: 100%;
  p {
    display: inline-block;
    width: 95%;
    height: $banner_height;
    overflow: hidden;
    padding: 0 20px;
    font-size: 14px;
  }
  .close-banner {
    display: inline-block;
    line-height: $banner_height;
    position: absolute;
    right: 20px;
    img {
      vertical-align: middle;
      height: 15px;
      width: 15px;
    }
  }
}

.header-logo {
  display: block;
  margin: 0 auto;
  width: 150px;
  img {
    width: 100%;
  }
}

.header-pc-menu {
  height: 70px;
  display: flex;
  align-items: center;
}

.header-menu {
  display: inline-block;
  height: $desktop_header_height;
  width: 60px;
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 60px;
    height: 12px;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
    top: 30px;
    left: 0;
  }
}

.headerSide-icon {
  @include flex;
  justify-content: flex-end;
  a {
    display: flex;
    width: 18px;
    height: 18px;
    margin-right: 20px;
  }
}
.header-login {
  img {
    width: 100%;
  }
}
.header-cart,
.header-favorite {
  @include flex;
  position: relative;
  align-items: center;
  span {
    position: absolute;
    right: -10px;
    top: -8px;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: wheat;
    color: black;
    line-height: 15px;
    text-align: center;
  }
}

.header-cart img {
  width: 71%;
}

@include tablet-width() {
  .header-inner {
    padding-top: 0;
  }
  .header-menu {
    height: $phone_header_height;
    width: 45px;
    &::before {
      width: 45px;
      height: 8px;
    }
  }
  .header-pc-menu {
    height: $phone_header_height;
  }
}

@include phones-width() {
  .header-logo {
    width: 100px;
  }
  .headerSide-icon {
    padding-right: 20px;
    a {
      width: 15px;
      height: 15px;
      margin-right: 0;
      margin-left: 15px;
      justify-content: center;
    }
    .header-favorite {
      width: 14px;
      height: 14px;
    }
  }
}
