/*------------------------------------*\
  #Default
\*------------------------------------*/
.defaultWrap {
    margin-top: -$desktop_header_height - 50px;
    .swiper-pagination-bullet-active{
        background: #333;
    }
    .newsIn{
        margin: 100px auto 20px;
        padding:0;
        h2{
            padding: 0 70px 35px; 
            font-size: $title_font_size_pc;
            padding-bottom: 35px;
        }
    }
    .newinSlide{
        padding:0 50px;
        .swiper-wrapper{
            padding-bottom: 40px;
        }
        .swiper-button-prev {
            display: block;
            left: 0;
            top: 20px;
            width: 30px;
            height: 100%;
            background: url(./assets/img/arrow_pre_light.svg) no-repeat center center/100% auto white;
            &:after {
                content:'';
            }
        }
        .swiper-button-next {
            display: block;
            right: 0;
            top: 20px;
            width: 30px;
            height: 100%;
            background: url(./assets/img/arrow_next_light.svg) no-repeat center center/100% auto white;
            &:after {
                content:'';
            }
        }
    }
}
.seeMore{
    display: block;
    padding:0 0 80px;
    i{
        font-size: 30px;
        color:#a1622b;
    }
}

.lessMargin {
    padding: 55px 140px;
}

@include tablet-width() {
    .lessMargin {
        padding:65px 50px;
    }
}

@include phones-width() {
    .lessMargin {
        padding:45px 20px;
    }
    .secTitle {
        font-size: 27px;
        text-align: center;
        padding-bottom: 35px;
    }
    .seeMore{
        padding:20px 0 50px;
    }
    .defaultWrap {
        padding-bottom: 20px;
        .newsIn{
            margin: 30px auto 20px;
        }
        .newinSlide{
            padding:0 25px;
            .swiper-wrapper{
                padding-bottom: 35px;
            }
            .swiper-button-prev {
                top: initial;
                bottom:0;
                left:30px;
                width: 30px;
                height: 25px;
            }
            .swiper-button-next {
                top: initial;
                bottom:0;
                right:30px;
                width: 30px;
                height: 25px;
            }
        }
        .pdinfo{
           display: flex;
           justify-content: space-between;
        }
        .pdbox-price-sale{
            padding-bottom: 10px;
        }
    }
}