/*------------------------------------*\
  #Default
\*------------------------------------*/
.defaultWrap {
    margin-top: -$desktop_header_height - 50px;    
    .swiper-pagination-bullet-active{
        background: #333;
    }
    .newsIn{
        margin: 70px auto 20px;
    }
    .newinSlide{
        padding:0 55px;
        .swiper-wrapper{
            padding-bottom: 50px;
        }
        .swiper-button-prev {
            display: block;
            left: 0;
            top: 20px;
            width: 30px;
            height: 100%;
            background: url(./assets/img/arrow_pre_light.svg) no-repeat center center/100% auto white;
            &:after {
                content:'';
            }
        }
        .swiper-button-next {
            display: block;
            right: 0;
            top: 20px;
            width: 30px;
            height: 100%;
            background: url(./assets/img/arrow_next_light.svg) no-repeat center center/100% auto white;
            &:after {
                content:'';
            }
        }
    }
    .pdbox_color {
        ul {
            margin: 25px 0 0;
        }
        li {
            margin: 0 10px 0 0;
            img {
                border-radius: 50%;
            }
            &:last-of-type{
                margin:0;
            }
        }
    }
}
.js-carousel3 {
    padding-bottom: 40px;
    .ootdBox {
        padding: 0 12px;
    }
    .pdbox{
        padding:0 2.5px;
    }
}
.js-carousel4 {
    .igBox {
        padding: 0 2.5px;
    }
}
.lessMargin {
    padding: 55px 140px;
}
.secTitle {
    font-size: $title_font_size_pc;
    padding-bottom: 35px;
    &.txt-center {
        text-align: center;
    }
    img {
        width: 30px;
        margin-right: 20px;
        vertical-align: middle;
    }
}

#startAd {
    .default_popupSubtitle {
        letter-spacing: 1;
        font-size: 12px;
        font-weight: normal;
        color:$main_color;
        margin-top: 15px;
    }
    img{
        max-width: 100%;
        width: 100%;
    }
}

@include tablet-width() {
    .lessMargin {
        padding:65px 50px;
    }
}

@include phones-width() {
    .lessMargin {
        padding:45px 20px;
    }
    .secTitle {
        font-size: 27px;
        text-align: center;
        padding-bottom: 35px;
        &.igTitle{
            font-size: 18px;
            padding: 45px 0 35px;
            position: relative;
            img{
             position: absolute;
             top:0;
             left:47%;
            }
        }
    }

    .defaultWrap {
        padding-bottom: 20px;
        .newsIn{
            margin: 30px auto 20px;
        }
        .newinSlide{
            padding:0;
            .swiper-wrapper{
                padding-bottom: 35px;
            }
            .swiper-button-prev {
                top: initial;
                bottom:0;
                width: 30px;
                height: 25px;
            }
            .swiper-button-next {
                top: initial;
                bottom:0;
                width: 30px;
                height: 25px;
            }
        }
        .pdinfo{
           display: flex;
           justify-content: space-between;
        }
        .pdbox_price-sale{
            padding-bottom: 10px;
        }
        .pdbox_color {
            ul {
                margin: 10px 0 0;
            }
            li {
               height:30px;
            }
        }
    }
}