/*------------------------------------*\
  #Productlist
\*------------------------------------*/
.pdlistWrap {
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.pdlistAside {
  width: 180px;
  position: sticky;
  font-weight: lighter;
  top: $desktop_header_height;
  left: 0;
  height: 100%;
}

.pdlistMenu {
  > li {
    margin-bottom: 20px;
    > a {
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.08rem;
    }
  }
  a {
    &:hover {
      color: grey;
    }
  }
}
.pdlistNav .breadcrumb {
  display: inline-block;
  margin-bottom: 10px;
}

.pdlistCnt {
  width: 85%;
}
.pds {
  margin-top: 5px;
}

.pds-col {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .pds-item {
    margin-bottom: 50px;
    width: calc((100% - (8px * 4)) / 5);
    margin-left: 8px;
    &:nth-child(5n + 1) {
      margin-left: 0;
    }
  }
  .pdbox {
    a {
      display: inline-block;
      img {
        width: 100%;
      }
    }
  }
}

@include tablet-width() {
  .pdlistAside  {
    display: none;
  }
  .pdlistCnt {
    width: 100%;
  }
}

@include phones-width() {
  .pdlistWrap {
    padding-bottom: 30px;
  }
  .pdlistNav {
    display: flex;
    flex-wrap: wrap;
  }
  .pdlistCnt .breadcrumb {
    order: 1;
    width: calc(100% - 68px);
  }
  .pds-col {
    .pds-item {
      width: calc((100% - 8px) / 2);
      margin-left: 8px;
      margin-bottom: 30px;
      &:nth-child(5n + 1) {
        margin-left: 8px;
      }
      &:nth-child(2n + 1) {
        margin-left: 0;
      }
    }
    .pdbox a {
      width: 100%;
    }
  }
}
