/*------------------------------------*\
  #Productlist
\*------------------------------------*/
.pdlist_wrap {
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.pdlist_aside {
    width: 180px;
    position: sticky;
    font-weight: lighter;
    top: $desktop_header_height;
    left: 0;
    height: 100%;
}

.pdlist_menu {
    >li {
        margin-bottom: 20px;
        >a {
            font-size: 18px;
            line-height: 21px;
            letter-spacing: .08rem;
        }
    }
    a {
        &:hover {
            color: grey;
        }
    }
    .submenuTitle {
        position: relative;
        vertical-align: middle;
    }
    .submenu {
        font-family:'Noto Sans TC', sans-serif;
        display: none;
        margin-top: 30px;
        margin-bottom: 30px;
        letter-spacing: .06rem;
        &.active {
            display: block;
        }
        li {
            margin-bottom: 10px;
            margin-left: 5px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                line-height: 18px;
            }
        }
    }
}
.pdlist_NavPart .breadcrumb{
    display: inline-block;
    margin-bottom: 10px;
}

//pdlist_cnt
.pdlist_cnt {
    width: 85%;
}
.pdlist_changeCol {
    display: flex;
    float: right;
}

//pds商品列表
.pds {
    margin-top: 5px;
}

.pds_col {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .pds_item {
        margin-bottom: 50px;
        width: calc( (100% - (8px*4)) / 5);
        margin-left: 8px;
        &:nth-child(5n+1) {
            margin-left: 0;
        }
    }
    .pdbox {
        a {
            display: inline-block;
            img {
                width: 100%;
            }
        }
    }
}

@include tablet-width() {
    .pdlist_aside {
        display: none;
    }
    .pdlist_cnt {
        width: 100%;
    }
}

@include phones-width() {
    .pdlist_wrap{
        padding-bottom: 30px;
    }
    .pdlist_NavPart{
        display: flex;
        flex-wrap: wrap;    
    } 
    .pdlist_cnt .breadcrumb{
        order:1;
        width: calc(100% - 68px);
    }
    .pdlist_changeCol{
        order:2;
    }
    .pds_col {
        .pds_item {
            width: calc( (100% - 8px) / 2);
            margin-left: 8px;
            margin-bottom: 30px;
            &:nth-child(5n+1) {
                margin-left: 8px;
            }
            &:nth-child(2n+1) {
                margin-left: 0;
            }
        }
        .pdbox a {
            width: 100%;
        }
    }
}