/*------------------------------------*\
  #Product
\*------------------------------------*/
.pdcntWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.pdcnt {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 84%;
}
.pdcnt-imgpart {
  width: 55%;
  .pdcnt-img {
    img {
      width: 100%;
    }
  }
}
.pdcbt-imggroup {
  margin: 0 0 15px;
  .swiper-button-prev {
    display: none;
    left: 0;
    top: 20px;
    width: 30px;
    height: 100%;
    background: url(./assets/img/arrow_pre_dark.svg) no-repeat center center/60%
      auto;
    &:after {
      content: '';
    }
  }
  .swiper-button-next {
    display: none;
    right: 0;
    top: 20px;
    width: 30px;
    height: 100%;
    background: url(./assets/img/arrow_next_dark.svg) no-repeat center
      center/60% auto;
    &:after {
      content: '';
    }
  }
}
.pdcnt-imgthumb {
  img {
    &:hover {
      cursor: pointer;
    }
  }
  .swiper-button-prev {
    display: block;
    left: 0;
    top: 20px;
    width: 30px;
    height: 100%;
    background: url(./assets/img/arrow_pre_light.svg) no-repeat center
      center/60% auto rgba(255, 255, 255, 0.3);
    &:after {
      content: '';
    }
  }
  .swiper-button-next {
    display: block;
    right: 0;
    top: 20px;
    width: 30px;
    height: 100%;
    background: url(./assets/img/arrow_next_light.svg) no-repeat center
      center/60% auto rgba(255, 255, 255, 0.3);
    &:after {
      content: '';
    }
  }
}
.pdcnt-info {
  width: 42.5%;
}
.pdcnt-inner {
  display: flex;
  justify-content: space-between;
  font-family: 'Noto Sans TC', sans-serif;
}
.pdcnt-inner-title {
  h1 {
    font-size: 20px;
    letter-spacing: 0.14rem;
    color: black;
  }
  .stockstatus {
    padding: 25px 0 35px 0;
    letter-spacing: 0.07rem;
  }
}
.pdcnt-inner-price {
  align-items: flex-end;
  font-family: 'Montserrat';
  letter-spacing: 0.06rem;
  .pdcnt-price-sale {
    font-size: 19px;
    font-weight: bold;
    color: black;
    span {
      font-size: 12px;
    }
  }
  .pdcnt-price-onsale {
    font-size: 19px;
    font-weight: bold;
    color: #af4b34;
    span {
      font-size: 12px;
    }
  }
  .pdcnt-price-origin {
    color: $light_gray;
    margin-top: 15px;
    text-decoration: line-through;
  }
}
.pdcnt-table {
  font-family: 'Montserrat';
  tr {
    th,
    td {
      padding: 10px 40px 10px 0;
      text-align: left;
      &:nth-of-type(3) {
        padding: 10px 0;
      }
    }
  }
  thead {
    position: relative;
    display: contents;
    &::after {
      content: '';
      position: absolute;
      width: calc(36% - 4px);
      height: 1px;
      background-color: $main_color;
    }
  }
  tbody {
    select {
      outline: none;
      border: none;
    }
  }
}
.pdcnt-info-number {
  > div {
    position: relative;
    width: 80px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 5px;
      height: 15px;
      background: url(./assets/img/arrow_select.svg) no-repeat center
        center/100% auto;
      right: 4px;
      top: 4px;
      pointer-events: none;
    }
    select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      font-family: 'Montserrat';
      font-weight: bold;
    }
  }
}
.pdcnt-info-size {
  font-weight: bold;
}
.pdcnt-csn,
.pdcnt-mp,
.pdcnt-btn {
  margin-bottom: 30px;
}
.pdcnt-btn {
  padding-top: 30px;
  border-top: 1px solid $main_color;
}

.pdcnt-mp {
  p {
    letter-spacing: 0.8rem;
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  span {
    font-weight: lighter;
    letter-spacing: 0.06rem;
  }
}

.pdcnt-note {
  padding: 15px 5px;
  border-top: 1px solid $main_color;
  p {
    line-height: 20px;
    letter-spacing: 0.05rem;
  }
}

.pdcnt-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    vertical-align: middle;
  }
}

.btn-wish {
  display: inline-block;
  position: relative;
  i {
    font-size: 18px;
  }
}
.pddcnt-btn-buypay {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  .btn,
  .btn-second {
    width: 40%;
  }
}

.btn-add,
.btn_pdsoldout {
  margin-right: 15px;
}
.btn-topay {
  width: 40%;
  display: inline-block;
}

.pdcnt-menu {
  > li {
    margin-bottom: 10px;
    > .submenuTitle {
      display: block;
      letter-spacing: 0.06rem;
      margin-bottom: 10px;
      padding-bottom: 10px;
      font-size: 15px;
      line-height: 35px;
      font-weight: bold;
      border-bottom: 1px solid black;
      span {
        position: relative;
        &:after {
          content: '-';
          position: absolute;
          right: -15px;
          top: 0;
          line-height: 16px;
        }
      }
      &.collapsed {
        span {
          &:after {
            content: '+';
          }
        }
      }
    }
  }
}

.pdcnt-swiper-title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 80px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 56px;
    height: 1px;
    background-color: black;
    top: 40px;
    right: 47%;
  }
}

.pdcnt-swiper {
  padding: 55px 68px;
  .swiper-wrapper {
    padding-bottom: 50px;
  }
  .swiper-pagination-bullet-active {
    background: #333;
  }
  .swiper-button-prev {
    display: block;
    left: 0;
    top: 20px;
    width: 30px;
    height: 100%;
    background: url(./assets/img/arrow_pre_light.svg) no-repeat center
      center/100% auto white;
    &:after {
      content: '';
    }
  }
  .swiper-button-next {
    display: block;
    right: 0;
    top: 20px;
    width: 30px;
    height: 100%;
    background: url(./assets/img/arrow_next_light.svg) no-repeat center
      center/100% auto white;
    &:after {
      content: '';
    }
  }
  .pdlikeSlide {
    padding: 0 50px;
  }
  a {
    display: block;
  }
}

@include tablet-width() {
  .pdcnt {
    width: 100%;
    flex-wrap: wrap;
  }
  .pdcnt-table {
    thead {
      &::after {
        width: 40%;
      }
    }
    tr {
      th,
      td {
        padding: 10px;
      }
    }
  }
  .pdcnt-swiper {
    padding: 55px 70px;
  }
  .pddcnt-btn-buypay {
    width: calc(100% - 35px);
    .btn-black ,
    .btn-second {
      width: 125px;
    }
  }
}

@include phones-width() {
  .pdcnt-imgpart {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .pdcnt-info {
    width: 100%;
    margin-top: 35px;
  }
  .pdcnt-inner {
    display: block;
    margin-bottom: 50px;
  }
  .pdcnt-inner-price {
    flex-direction: row;
    justify-content: start;
    .pdcnt-price-origin {
      text-align: right;
      margin-left: 5px;
    }
  }
  .pdcnt-inner-title {
    .stockstatus {
      padding: 15px 0 35px 0;
    }
  }
  .pdcnt-table {
    width: 100%;

    thead {
      &::after {
        width: 100%;
      }
    }
  }
  .pdcnt-swiper-title {
    margin-bottom: 65px;
    &:after {
      right: 41.5%;
    }
  }
  .pdcnt-swiper {
    padding: 45px 0px;
    .pdlikeSlide {
      padding: initial;
    }
    .swiper-button-prev {
      top: initial;
      bottom: 0;
      left: 0;
      width: 30px;
      height: 25px;
    }
    .swiper-button-next {
      top: initial;
      bottom: 0;
      right: 0;
      width: 30px;
      height: 25px;
    }
    .swiper-pagination {
      z-index: 9;
    }
  }
  .pdcnt-imgthumb {
    display: none;
  }
  .pdcnt_otherinfo {
    margin-top: 0;
    flex-wrap: wrap;
    > ul {
      width: 100%;
    }
  }

  .pdcbt-imggroup {
    margin: 0 0 15px;
    .swiper-button-prev {
      display: block;
    }
    .swiper-button-next {
      display: block;
    }
  }
}
