/*------------------------------------*\
  #wishlist
\*------------------------------------*/
.memberWrap_inline{
  font-family: "Montserrat",'Noto Sans TC', sans-serif;
  width: calc( 100% - 200px);
  padding:0 0 120px;
  margin:0 auto;
  font-size: 14px;
  h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 80px;
    color:black;
  }   
}

.wishlist{
    >p{
        padding-bottom:20px;
        padding-left: 12px;
        border-bottom: 1px solid $main_color;
        font-weight: bold;
        color:black;
        font-size: 16px;
    }
}
.wishbox{
    display: flex;
    padding:30px 20px 30px 12px;
    border-bottom: 1px solid $main_color;
    .btn_close{
        width: 36px;
        height: 36px;
    }
}

.wishbox_img{
    display: inline-block;
    margin-right: 12px;
    width: 22%;
    height: 22%;
    img{
        width: 100%;
        vertical-align: middle;
    }
}

.wishbox_cnt{
    width: calc( 78% - 35px);
    padding:0 12px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .btn_black{
        width: 130px;
        padding:0 10px;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        letter-spacing: .06rem;
    }
}

.wishbox_info{
    display: flex;
    font-size: 12px;
    p{
        margin-right: 50px;
        color:$main_gray;
        letter-spacing: .04rem;
        span{
            margin-left: 20px;
        }
        &:first-of-type{
            font-weight: bold;
        }
    }
}
.wishbox_color{
    display: inline-block;
    width: 12px;
    height: 12px;
    img{
        width: 100%;
        border-radius: 50%;
    }
}
.wishbox_price{
    margin-bottom: 10%;
    font-size: 20px;
    letter-spacing: .04rem;
}

@include tablet-width() {
    .memberWrap_inline{
        width: 100%;
        padding:0 20px 55px;
        .tb_member{
            tr{
                padding:40px 25px;
                &:first-of-type{
                    padding: 0;
                }
                &:nth-of-type(2){
                    padding-top: 25px;
                }
            }
        }
    }
    .wishbox_info{
        p{
            margin-right: 10px;
            font-size: 13px;
            span{
                margin-left: 10px;
            }
        }
    }
}

@include phones-width() {
    .memberWrap_inline{     
        padding:0 0 55px;  
        h2{
            padding:0 20px;
            font-size: 20px;
            margin-bottom: 30px;
            &.no-padding{
                padding:0
            }
        }   
    }
    .wishbox{
        flex-wrap: wrap;
        padding:50px 20px;
        &:first-of-type{
            padding-top: 0;
        }
        &:last-of-type{
            border-bottom:none;
        }
        .btn_close{
            width: 24px;
            height: 24px;
        }
    }
    .wishbox_img{
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .wishbox_cnt{
        padding: 0 10px 0 0 ;
        width: calc( 100% - 24px);
        .btn_black{
            line-height: 40px;
            width: 150px;
        }
    }
    
    .wishbox_info{
        display: block;
        p{
            margin-bottom: 20px;
            &:first-of-type{
                font-size: 18px;
            }
        }
    }
    .wishbox_price{
        margin-bottom: 25px;
    }
}